* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  background-color: #2e7d32;
  color: #ffffff;
  padding: 0px;
  margin: 0;
}

footer {
  display: block;
  background-color: #2e7d32;
  color: #ffffff;
  padding: 8px;
  margin: 0;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

.title {
  display: inline-block;
  vertical-align: top;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffa000;
  margin-top: 12px;
}

.login {
  display: inline-block;
  vertical-align: top;
  font-size: x-large;
  text-transform: uppercase;
  color: #ffa000;
  margin-top: 12px;
}

#mainmenu {
  vertical-align: top;
  padding: 4px;
}

.content {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

.champions {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

ul.menu {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

li.menu {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#4caf50;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #1b5e20;
}

.ranking {
  margin-top: 10px;
}

.team {
  text-align: left;
}

.played {
  text-align: center;
}

.points {
  text-align: center;
}

.goals {
  text-align: right;
}

.against {
  text-align: left;
}

.match {
  text-align: center;
}

.hometeam {
  text-align: left;
}

.awayteam {
  text-align: left;
}

.score {
  text-align: center;
}

.homescore {
  text-align: right;
}

.awayscore {
  text-align: left;
}

.edit {
  text-align: left;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #1b5e20;
}

a {
  color: #2e7d32;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.mm_unsel {
  font-weight: normal;
  color: #ffffff;
}

a.mm_sel {
  font-weight: bold;
  color: #ffffff;
}

a.highlight {
	font-weight: bold;
}

a#twisq {
  display: block;
  text-align: center;
  color: #ffffff;
}

.dropbtn {
  background-size: 20px 20px;
  height: 24px;  
  width: 24px;
}

.dropper {
  display: none;
  position: absolute;
  background-color: #4caf50;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
a.minioption {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
a.minioption:hover {
  background-color: #1b5e20;
}

.show {
  display: block;
}

tr.match:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (min-width: 601px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .logo {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  #mainmenu {
    display: inline-block;
  }

  .dropbtn {
    display: none;
  }
  .field {
    text-align: center;
  }
  
  .time {
    text-align: center;
  }

  .win {
    text-align: center;
  }
  
  .equal {
    text-align: center;
  }
  
  .loose {
    text-align: center;
  }
  
  .referee {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  /* For mobile: */
  .col-1 {width: 100%;}
  .col-2 {width: 100%;}
  .col-3 {width: 100%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}
  .col-6 {width: 100%;}
  .col-7 {width: 100%;}
  .col-8 {width: 100%;}
  .col-9 {width: 100%;}
  .col-10 {width: 100%;}
  .col-11 {width: 100%;}
  .col-12 {width: 100%;}

  .logo {
    display: none;
  }

  .field {
    display: none;
  }

  .time {
    display: none;
  }

  .win {
    display: none;
  }

  .equal {
    display: none;
  }

  .loose {
    display: none;
  }

  .referee {
    display: none;
  }

  #mainmenu {
    display: none;
  }

  .dropbtn {
    display: inline;
  }
}

